<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Robbie Fucking Williams</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
    </style>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="content-container">
      <h1>About Robbie F+*#ing Williams</h1>
      <img id="home-page-pic" src="/images/robbie-main-page.png" />
      <div class="main-paras">
        <p class="about-paragraphs">
          Robert Peter Williams (born 13 February 1974) is an English singer and
          songwriter. He found fame as a member of the pop group Take That from
          1990 to 1995, and launched a solo career in 1996.His discography
          includes seven UK No. 1 singles, and all but one of his 14 studio
          albums have reached No. 1 in the UK. According to the British
          Phonographic Industry (BPI), he has been certified for 20.26 million
          albums and 8.6 million singles in the UK as a solo artist. He also
          topped the 2000–2010 UK airplay chart. His three concerts at Knebworth
          in 2003 drew over 375,000 people, the UK's biggest music event to that
          point.
        </p>

        <p class="about-paragraphs">
          He has a reputation for being the most charismatic man alive, and his
          hedonistic lifestyle, which gave us many great many stories, including
          Maureen from the pub, and Geri Halliwell in a duffle bag. His
          interests include conspiracy theories such as a belief in UFOs and the
          debunked pizzagate conspiracy theory.
        </p>
      </div>
      <div class="links">
        <button class="buttons"><a href="/home">Back to Home</a></button>
        <button class="buttons">
          <a href="/works">Robbie Williams' Work</a>
        </button>
      </div>
    </div>
  </body>
</html>
