<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Robbie Fucking Williams</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
    </style>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="content-container">
      <h1>Robbie F+*#ing Williams</h1>
      <img id="home-page-pic" src="/images/robbie-main-page.png" />
      <div class="main-paras">
        <p class="paragraphs">
          Robbie Williams fan? Of course you are. Well, you're in the right
          place. This very unofficial fan site pays homage to former Take That
          member, musical God, and generally top guy, Robbie Williams. Learn
          about him, his seminal body of bangers, and photos of him being a top
          guy.
        </p>
      </div>
      <div class="links">
        <button class="buttons"><a href="/about">Learn About Robbie</a></button>
        <button class="buttons">
          <a href="/works">Robbie Williams' Work</a>
        </button>
      </div>
    </div>
  </body>
</html>
