<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Robbie Fucking Williams</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
    </style>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="content-container">
      <h1>The Work of Robbie F+*#ing Williams</h1>
      <div class="main-paras">
        <p class="paragraphs">
          We've established his musical prowess, but what are the must-hear
          essentials? Let's take a look at his top three albums.
        </p>
        <div class="albums">
          <div class="escapology">
            <img
              class="escapology-pic"
              src="/images/escapology-front.jpeg"
              alt="Escapology front cover"
            />
            <h2 class="escapology-h2">Escapology</h2>
            <p class="album-paragraphs">
              His fifth studio album has wall-to-wall bangers, you can't move
              for the bangers. It debuted at number one and the song 'Feel', was
              a worldwide hit. It also featured the first three songs written by
              Williams alone.
            </p>
          </div>
          <div class="ive-been-expecting-you">
            <img
              class="ive-been-expecting-you-pic"
              src="/images/ive-been-expecting-you-cover.jpeg"
              alt="Life Thru A Lens front cover"
            />
            <h2 class="expecting-h2">I've Been Expecting You</h2>
            <p class="album-paragraphs">
              His second studio album got him his first UK number one. And guess
              what? More bangers, that's what. It debuted at number one in the
              UK, and featured 'Millenium' and 'She's the one', both of which
              absolutely slap.
            </p>
          </div>
          <div class="sing-when-win">
            <img
              class="sing-when-win-pic"
              src="/images/sing-when-youre-winning-cover.jpeg"
              alt="Sing When You're Winning cover"
            />
            <h2 class="sing-h2">Sing When You're Winning</h2>
            <p class="album-paragraphs">
              The third studio album was just ridiculous. Who doesn't love a bit
              of 'Rock DJ'? or 'Kids' with Kylie Minogue? No one, that's who.
              Top tens and number ones across Europe once again cemented his
              place as a top guy.
            </p>
          </div>
        </div>
      </div>
      <div class="links">
        <button class="buttons"><a href="/home">Back to Home</a></button>
        <button class="buttons"><a href="/about">Learn About Robbie</a></button>
        <button class="buttons">
          <a href="/photos">Shots of Robbie</a>
        </button>
      </div>
    </div>
  </body>
</html>
